/* .App {
  display: flex;
} */

.header {
  height: 40px;
  background-color: rgb(127, 189, 35);
  padding-left: 20px;
  display: flex;
  align-items: center;
  color: white;  
}

.main {
  display: flex;
  /* background-color: yellow; */
  height: calc(100vh - 40px); /* subtracting the header's height */
  overflow: auto; /* add this line to enable scrolling when the tiles take more than 100vh */
}

.first-column, .second-column, .third-column {
  margin: 10px;
  flex: 1;
  display: grid; /* this creates a grid */
  grid-template-rows: repeat(10, 1fr); /* this makes 10 equal-height rows */
  gap: 10px; /* this gives some space between your tiles */
  /* padding: 10px; and some padding around the whole column */
  overflow: auto; /* add this line to enable scrolling within each column if the tiles take more space than available */
}



/* .header {
  height: 40px;
  background-color: rgb(127, 189, 35);
  padding-left: 20px;
  display: flex;
  align-items: center;
  color: white;  
}

.main {
  display: flex;
  background-color: yellow;
  height: 100vh;
}

.first-column {
  flex: 1;
  background-color: blue;
}

.second-column {
  flex: 1;
  background-color: orange;
}

.third-column {
  flex: 1;
  background-color: red;
} */